<a href="https://colab.research.google.com/github/Orgenes/Orgenes/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a1={1,2,3,4,1,1,1,3,1,4}
a2={1,2,3,4,'Orgenes'}
print(a1)
print(a2)
type(a1)

{1, 2, 3, 4}
{'Orgenes', 1, 2, 3, 4}

set

In [ ]:
x=5
y=10
print(x+y)

15

In [ ]:
s1={1,2,1,1,2,3,1,4,"Orgenes"}
s2={1,2,3,4,"Orgenes"}
s1.intersection(s2)

{1, 2, 3, 4, 'Orgenes'}

In [ ]:
s1={1,2,1,1,2,3,1,4,"Orgenes"}
s2={1,2,3,4,6,7,8}
s1.union(s2)

{1, 2, 3, 4, 6, 7, 8, 'Orgenes'}

In [ ]:
OL_info = {"name":"orgenes", 'DOB':1960, 'sex':'male', 'residence':'Arusha'}
DOB_value==OL_info['DOB']
type(OL_info)
print(DOB_value)
OL_Age=2025-DOB_value
print(OL_Age)

1960
65

In [ ]:
a=(1)
b=(1.5)
c=('Orgenes')
d=(1+1j)
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'complex'>
<class 'complex'>

In [ ]:
t=(10,20,30,40,50,60,70)
print(t[-4])

40

In [ ]:
t1=(1,2,3,4,5,4,2,1,1,2,2,2,5,7,8,9)
print(t1.count(1))
print(t1.count(2))

3
5

In [ ]:
#nested if
Age=3
diagnosis="malaria"
temp=38.5
if Age<5:
  if temp>37 and diagnosis=="malaria":
    print("very_sick_child_require_urgent_treatment")
  elif temp<=36.5:
    print("uncomplicated_malaria")

very_sick_child_require_urgent_treatment

In [8]:
#addition function taking two numbers as arguments and return their sum
def add(x, y):
  output=f"Addition of {x} and {y} is {x+y}"
  return output

print(add(20,30))

Addition of 20 and 30 is 50

In [9]:
#Multiplication function taking two  numbers as arguments and return their product
def multiply(x, y):
  output=f"Multiplication of {x} and {y} is {x*y}"
  return output

print(multiply(20,30))

Multiplication of 20 and 30 is 600

In [15]:
#factorial function taking positive integer as an argument and returns its factorial
def factorial(x):
  if x==1:
    return 1
  else:
    return x*factorial(x-1)

print(factorial(5))

120

In [18]:
#factorial function taking positive integer as an argument and returns its factorial
def factorial(x):
  output=1         #initializa out put to 1
  for i in range(1,x+1): #include x in the range
    output=output*i
  return f"Factorial of {x} is {output}" #moved the formated string to the return

print(factorial(4))

Factorial of 4 is 24

In [34]:
#Even or Odd function taking integer as an argument and returns as even or odd number
def even_or_odd(x):
  if (x % 2) == 0:
    return ("Even")
  else:
    return ("Odd")

print (even_or_odd(20))

Even

In [42]:
#maximum function taking two numbers as arguments and returns the maximum number
def max_func(x,y):
  if x > y:
    return f'maximum number is {x}'
  else:
    return f'maximum number is {y}'
print (max_func(20,30))

maximum number is 30

In [52]:
#Reverse string function taking a string as anargument and returnrns reverse of string
def reverse_string(x):
  return x[::-1]

print(reverse_string("ANNA"))

ANNA

In [59]:
#Palindrome function taking a string as an argument and returns true if the string reads the same backwards
def Palindrome_string(x):
  if x[::-1] == x:
    return True
  else:
    return False
print(Palindrome_string("Anna"))

False

In [60]:
#power function taking two numbers as base and exponent arguments and return the result of base raised to power of exponent
def Power_function(x,y):
  return x**y
print(Power_function(3,2))

9

In [65]:
#average function taking a list of numbers and returns the average
def Average_function(*args):
  return sum(args)/len(args)
print(Average_function(1,2,3,1,1,1,1,5,7,11))

3.3

In [68]:
def average_function(*args):
  n = len(args)
  return sum(args) / n
print(average_function(1,2,3,10,1,1,1,15,7,11))

5.2

In [94]:
#Fibonacci function taking a positive integer as an argument and returns nth Fibonaci number, where each number is the sum of the two previous numbers
def Fibonacci_function(x, y, z):
  return [z] == [x] + [y]

print(Fibonacci_function(2,3,5))

False